/* ------------- Buttons ------------- */

.btn-secondary {
  background-color: var(--yellow-color-hover) !important;
  border-radius: 0.3rem;
  color: var(--light-color);
  font: 1rem var(--main-font);
  font-weight: 600;
  padding: 1rem 2rem;
  transition: all 0.3s;
}

.btn-secondary:hover {
  background-color: var(--custom-color) !important;
  text-decoration: underline;
}

.link-default {
  background-color: var(--main-color);
  border-radius: 0.3rem;
  color: var(--light-color);
  font: 1rem var(--main-font);
  font-weight: 600;
  padding: 1rem 2rem;
  transition: all 0.3s;
}

.link-default:hover {
  background-color: var(--custom-color);
  text-decoration: underline;
}

/* ------------- Texts ------------- */

.title-base-inner {
  color: var(--blue-color);
  font: 1.2rem var(--main-font);
  font-weight: 600;
  text-align: left;
  text-transform: lowercase;
}

.title-base-inner::first-letter {
  text-transform: uppercase;
}

.p-base {
  color: var(--almost-dark-color);
  font: 1rem/1.4 var(--main-font);
  text-align: left;
  text-transform: lowercase;
}

.p-base::first-letter {
  text-transform: uppercase;
}
